.page {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    min-height: 100vh;
    color: black;
    font-family: Montserrat, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

