.content__backgroung_place_top {
    align-self: flex-start;
    position: absolute;
    animation: 15s infinite linear;
    animation-name: slidein;
    overflow: hidden;
}

@keyframes slidein {
    0% {
        transform: translateY(-100px);
    }
  
    50% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(-100px);
    }
}