.content__backgroung_place_top {
    align-self: flex-start;
    position: absolute;
    animation: 5s infinite ease;
    animation-name: slidein;
}

@keyframes slidein {
    0% {
        transform: translate(0px, -5px)
    }
  
    50% {
        transform: translate(50px, -55px);
    }

    100% {
        transform: translate(0px, -5px)
    }

}