.content__about {
    width: 180px;
    height: 40px;
    border: rgba(0, 0, 0, 0.46) 1px solid;
    background-color: white;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.67);
    margin-top: 50px;
    margin-left: -40px;
    z-index: 1;
}

.content__about:hover {
    transition: background-color 0.1s;
    cursor: pointer;
    background-color: #f2f2f2;
}